.picture{
border-radius: 200em;
border:8px solid #FFCC99;
background-color: #F4A460;

}

.name{
    background-color: #DDDDDD;
    color: white;
    border-radius: 20em;
    height: 40%;
    padding: 0.5em;
text-shadow: 2.5px 1.5px 2px #999999
}
